.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Split the screen in half */
.split {
    height: 110%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    margin-top: 60px;
    left: 0;
  }
  
  /* Control the right side */
  .right {
    margin-top: 60px;
    right: 0px;
  }
  .rem{
    height: 200px;
    width: 610px;
  }
  .rem1{
    height: 135px;
    width: 595px;
  }
  .right1{
    margin-top: 60px;
    right: 0
  }
  .astyle{
    font-size: 20px;
  }
  .rem2{
    height: 170px;
    width: 595px;
  }
  .astyle1{
    font-size: 18px;
  }
  .astyle2{
    font-size: 17px;
  }